name: 'Build Conda Package and Upload to Anaconda'

# Tag creation correspond most often, but nor necessarily, to release publication. This this workflow is also triggered by the latter, but can be triggeren manually by creation of a tag.
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

env:
  ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@master

    - name: Get version identifier
      id: get_version
      run: |
        echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}
        echo ${GITHUB_REF#refs/tags/v}

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        auto-activate-base: false
        activate-environment: anaconda-client-env
        environment-file: conda/environment.yml

    - name: Bash
      shell: bash -el {0}
      run: |
        conda info
        conda list

    - name: Build package and publish
      run: |
        conda config --set anaconda_upload yes
        conda list
        conda info --env
        conda info
        conda build -c conda-forge  .
      env:
        DNPTOOLS_VERSION: ${{ steps.get_version.outputs.VERSION }}

